* {
  margin: 0;
<<<<<<< Updated upstream
  padding: 0;
=======
}

#root {
  width: 100%;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
>>>>>>> Stashed changes
  box-sizing: border-box;
}